.botonEnviar {
    width: 100%;
    margin-top: 20px;
    color: #FBF4EE;
    background-color: var(--color-botones);
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    transition: all 500ms;   
    font-family: var(--font-titles);
    font-weight: var(--font-large);
    &:hover {
        background-color: var(--titles-decoration);
        color: #FBF4EE;
        border-color:var(--titles-decoration);
    }
}

.boton {
    display: flex;
    justify-content: center;
}