.rowBiblio {
    margin-top: 100px;
    background-color: map-get($colores, colorBotones);
    box-shadow: 0 0 40px #000000;
    div {
        display: flex;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 10px;
        section {
            text-align: center;
            h4 {
                color: map-get($colores, colorNavBar);
                font-weight: map-get($tamanos, fontsmall);
                font-size: 20px;
                margin: 0%;
            }
            div {
                a {
                    text-decoration: none;
                    color: map-get($colores, colorNavBar);
                    font-weight: map-get($tamanos, fontsmall);
                    font-size: 10px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }
}