header {
    .botonMenu-Conten  {
        border: none;
        padding: 2px;
        margin: 10px;
        transition: all 500ms;
        background-color: $menuDesplegable;
        color: $textColor;
    }
    .title {
        font-size: $fontlarge;   
        font-family: $fontTitles;
        font-size: 70px;
        font-weight: $fontlarge;
        letter-spacing: -10px;
        color: $colorNavBar;
        padding: 0%;
        transition: all 500ms;
            &:hover {
                color: $textColor;
            }
    }
    .offcanvas-body{
        ul{
            li{
                a{
                    color: $colorNavBar; 
                    &:hover {
                        color: $titlesDecoration;
                    }
                }
            }
        }
    }
    .barraDesplegable-Menu {
        background-color: $menuDesplegable;
        backdrop-filter: blur(4px);
        color: $colorNavBar;
    }
    .desplegable-options {
        background-color: $fondoPortafolioMenu;
        border: none;
    }
}

