.seccionIngresar {
    /*EXTENDS*/
    @extend %flexDisCenter;
    margin-bottom: 115px;
    fieldset {
        div {
            label {
                font-size: 10px;
                color: map-get($colores, textColor);
            }
            input {
                width: 100%;
                background-color: map-get($colores, lightII);
                color: map-get($colores, textColor);
                font-size: 20px;
                font-family: map-get($fontfamily, fontTitles);
                font-weight: map-get($tamanos, fontlarge);
                border-top: transparent;
                border-color: map-get($colores, textColor);
                border-right: none;
                border-left: none;
            }
        }
    }
}