.seccionIngresar {
    display: flex;
    justify-content: center;
    fieldset {
        div {
            label {
                font-size: 10px;
                color:$textColor;
            }
            input {
                width: 100%;
                background-color: $lightII;
                color: $textColor;
                font-size: 20px;
                font-family: $fontTitles;
                font-weight: $fontlarge;
                border-top: transparent;
                border-color: $textColor;
                border-right: none;
                border-left: none;
            }
        }
    }
}