.seccionIngresar {
    display: flex;
    justify-content: center;
    fieldset {
        div {
            label {
                font-size: 10px;
                color: #000000;
            }
            input {
                width: 100%;
                background-color: var(--light-II);
                color: #03071E;
                font-size: 20px;
                font-family: var(--font-titles);
                font-weight: var(--font-large);
                border-top: transparent;
                border-color: #000000;
                border-right: none;
                border-left: none;
            }
        }
    }
}