.parallax {
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:50rem;
	max-width: 100%;
	position: relative;
}
.img-uno {
    background-image: url("/image/principal3.jpg");
}

/*--------------------------------------------------------------------*/

.historia {
    box-shadow:  0 0 5px #000;
    margin-top: 170px;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: map-get($colores, intermedio);
    .historia-Div {
        div {
            display: flex;
            border: none;
            align-items: center;
            text-align: center;
            background-color: map-get($colores, intermedio);
            color: map-get($colores, colorBotones);
            border-radius: 5px;
            svg {
                color: map-get($colores, colorBotones);
            }
            .contenidos-TEX {
                display: flex;
                flex-direction: column;

                section {
                    h3 {
                        font-size: 22px;
                        font-weight: map-get($tamanos, fontmedium);
                    }
                    p {
                        font-size: 15px;
                        font-weight: map-get($tamanos, fontsmall);
                    }
                }
            }

        }
    }
}

/*--------------------------------------------------------------------*/

.logosRow {
    background-color: map-get($colores, intermedio);
    box-shadow:  0 0 5px #000;
    .logosImage-Div {
        /*EXTENDS*/
        @extend %flexDisCenter;
        padding-top: 20px;
        padding-bottom: 20px;
        img{
            height: 50px;
        }
    }
}

/*--------------------------------------------------------------------*/

.contenFila-Carousel {
    margin-top: 100px;
    margin-bottom:  170px;
    @extend %flexDisCenter;

    .carouselRow-Title {
        display: flex;
        justify-content: left;
        align-items: center;
        div {
            border-radius: 5px;
            color: map-get($colores, colorBotones);
            h2 {
                font-size: 50px;
                font-weight: map-get($tamanos, fontmedium);
            }
            p {
                width: 50%;
                font-size: 15px;
                font-weight: map-get($tamanos, fontsmall);
            }
            a {
                
                text-decoration: none;
                color: map-get($colores, colorBotones);
                transition: all 400ms;
                &:hover {
                    color: map-get($colores, titlesDecoration);
                }
            }
        }
    }

    .divImgCont-Carosuel {
        margin-top: 100px;
        margin-bottom: 100px;
        width: 450px;
        padding: 0%;
        box-shadow:  0 0 10px #000;
        /*EXTENDS*/
        @extend %flexDisCenter;
        div{
            width: 100%;
            .carousel-indicators {
                margin: 0%;
            }
            
            a{
                text-decoration: none;
                p{
                    text-decoration: none;
                    /*EXTENDS*/
                    @extend %flexDisCenter;
                    margin-right: 30%;
                    margin-bottom: 50%;
                    padding: 0%;
                    font-family: map-get($fontfamily, fontTitles);
                    font-weight: 900;
                    font-size: 50px;
                    color: map-get($colores, titlesDecoration);
                }
            }
        }
    }
    
}
