$colores: (
    darkI:  #98979F,
    darkII: #A29FA8,
    lightI: #D6DBE1,
    lightII: #EBE9EA,
    intermedio: #acc0d4,
    textColor: #000,
    titlesDecoration: #eb5e28,
    colorNavBar: #ffffff,
    colorBotones: #222222,
    menuDesplegable: rgba(251, 244, 238, 0.5),
    fondoPortafolioMenu: rgba(251, 244, 238, 0),
    transparenciaImg:  rgba(251, 244, 238, 0.5)
);

$tamanos: (
    fontsmall: 100,
    fontmedium: 500,
    fontlarge: 900
);

$fontfamily: (
    fontTitles: 'Bodoni Moda'
);