.titlePages-Row {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    h5 {
        color: $textColor;
        font-family: $fontTitles;
    }
}