.portafolioGral div {
    display: flex;
    justify-content: center;
    div {
        width: 500px;
        padding: 0%;
        transition: all 500ms ease-out;
        position: relative;
        overflow: hidden;
        .interaccionPortafolio {
            position: absolute;
            top: 0%;
            width: 100%;
            height: 100%;
            background-color: $transparenciaImg;
            backdrop-filter: blur(3px);
            transition: all 500ms ease-out;
            opacity: 0;
            visibility: hidden;
            text-align: center;
            h3 {
                font-size: 60px;
                font-family: $fontTitles;
                font-weight: $fontlarge;
                letter-spacing: -5px;
                transition: all 500ms ease-out;
                color: $titlesDecoration;
                width: 100%;
            }
            a {
                text-decoration: none;
            }
        }
    }
    .portafolioDiv-Img div{
        width: 500px;
        padding: 0%;
    }
}
.portafolioSection  div:hover > .interaccionPortafolio {
    opacity: 1;
    visibility: visible;
}
.portafolioSection  div:hover > .interaccionPortafolio h3 {
    margin-top: 70%;
}

.portafolioSection  div:hover > img {
    transition: all 500ms ease-out;
    transform: scale(1.2);
}
