.title {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: map-get($tamanos, fontlarge);   
    font-family: map-get($fontfamily, fontTitles);
    font-weight: map-get($tamanos, fontlarge);
    color: map-get($colores, colorBotones);
    letter-spacing: 5px;
    font-size: 40px;
}