.rowBiblio div, .seccionIngresar, .seccionesRow .segundoContenidoContacto div, .formCrearCuenta form, .contenidoBiblio, .portafolioGral div, .titlePages-Row, .abarcadoUno .contenColumnas-Row .segundaSeccion-Footer section h4, .abarcadoUno .contenColumnas-Row .segundaSeccion-Footer, .abarcadoUno .contenColumnas-Row .primeraSeccion-Footer fieldset, .contenFila-Carousel .divImgCont-Carosuel div a p, .contenFila-Carousel .divImgCont-Carosuel, .contenFila-Carousel, .logosRow .logosImage-Div {
  display: flex;
  justify-content: center;
}

.botonEnviar {
  width: 100%;
  /*MIXINS*/
  color: #FBF4EE;
  margin-top: 20px;
  background-color: #222222;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  transition: all 500ms;
  font-family: "Bodoni Moda";
  font-weight: 900;
}
.botonEnviar:hover {
  background-color: #eb5e28;
  color: #FBF4EE;
  border-color: #eb5e28;
}

header nav {
  background-color: #cbd8e4;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.607);
}
header nav div .title {
  font-size: 900;
  font-family: "Bodoni Moda";
  font-size: 35px;
  font-weight: 900;
  color: #222222;
  padding-left: 10px;
  transition: all 400ms;
}
header nav div .title:hover {
  color: #ffffff;
}
header nav div div {
  display: flex;
  justify-content: right;
}
header nav div div .contenOp-Li li {
  padding-left: 20px;
  padding-right: 20px;
}
header nav div div .contenOp-Li li a {
  color: rgba(51, 52, 52, 0.8078431373);
  font-size: 13px;
  transition: all 400ms;
  font-weight: 500;
}
header nav div div .contenOp-Li li a:hover {
  color: #ffffff;
}
header nav div div .contenOp-Li li .opPortafolio-Ul {
  margin-top: 20px;
  background-color: #cbd8e4;
  border: none;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.607);
}
header nav div div .contenOp-Li li .opPortafolio-Ul li {
  margin: 5px;
  padding: 5px;
}
header nav div div .contenOp-Li li .opPortafolio-Ul li a {
  text-decoration: none;
}

.imagenPrincipal {
  padding: 0%;
  margin-top: 50px;
}

/*--------------------------------------------------------------------*/
.historia {
  box-shadow: 0 0 5px #000;
  margin-top: 170px;
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: #a3c0de;
}
.historia .historia-Div div {
  display: flex;
  border: none;
  align-items: center;
  text-align: center;
  background-color: #a3c0de;
  color: #222222;
  border-radius: 5px;
}
.historia .historia-Div div svg {
  color: #222222;
}
.historia .historia-Div div .contenidos-TEX {
  display: flex;
  flex-direction: column;
}
.historia .historia-Div div .contenidos-TEX section h3 {
  font-size: 22px;
  font-weight: 500;
}
.historia .historia-Div div .contenidos-TEX section p {
  font-size: 15px;
  font-weight: 100;
}

/*--------------------------------------------------------------------*/
.logosRow {
  background-color: #a3c0de;
  box-shadow: 0 0 5px #000;
}
.logosRow .logosImage-Div {
  /*EXTENDS*/
  padding-top: 20px;
  padding-bottom: 20px;
}
.logosRow .logosImage-Div img {
  height: 50px;
}

/*--------------------------------------------------------------------*/
.contenFila-Carousel {
  margin-top: 100px;
  margin-bottom: 100px;
}
.contenFila-Carousel .carouselRow-Title {
  display: flex;
  justify-content: left;
  align-items: center;
}
.contenFila-Carousel .carouselRow-Title div {
  border-radius: 5px;
  color: #222222;
}
.contenFila-Carousel .carouselRow-Title div h2 {
  font-size: 50px;
  font-weight: 500;
}
.contenFila-Carousel .carouselRow-Title div p {
  width: 50%;
  font-size: 15px;
  font-weight: 100;
}
.contenFila-Carousel .carouselRow-Title div a {
  text-decoration: none;
  color: #222222;
  transition: all 400ms;
}
.contenFila-Carousel .carouselRow-Title div a:hover {
  color: #eb5e28;
}
.contenFila-Carousel .divImgCont-Carosuel {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 450px;
  padding: 0%;
  box-shadow: 0 0 10px #000;
  /*EXTENDS*/
}
.contenFila-Carousel .divImgCont-Carosuel div {
  width: 100%;
}
.contenFila-Carousel .divImgCont-Carosuel div .carousel-indicators {
  margin: 0%;
}
.contenFila-Carousel .divImgCont-Carosuel div a {
  text-decoration: none;
}
.contenFila-Carousel .divImgCont-Carosuel div a p {
  text-decoration: none;
  /*EXTENDS*/
  margin-right: 30%;
  margin-bottom: 50%;
  padding: 0%;
  font-family: "Bodoni Moda";
  font-weight: 900;
  font-size: 50px;
  color: #eb5e28;
}

.abarcadoUno {
  display: flex;
  justify-content: space-around;
  background-color: #eb5e28;
}
.abarcadoUno .contenColumnas-Row {
  margin-top: 100px;
  margin-bottom: 100px;
}
.abarcadoUno .contenColumnas-Row .primeraSeccion-Footer {
  padding: 50px;
}
.abarcadoUno .contenColumnas-Row .primeraSeccion-Footer fieldset {
  color: #000;
  /*EXTENDS*/
  border: none;
}
.abarcadoUno .contenColumnas-Row .primeraSeccion-Footer fieldset div {
  text-align: center;
}
.abarcadoUno .contenColumnas-Row .primeraSeccion-Footer fieldset div ::-moz-placeholder {
  color: #000;
  font-family: "Bodoni Moda";
}
.abarcadoUno .contenColumnas-Row .primeraSeccion-Footer fieldset div :-ms-input-placeholder {
  color: #000;
  font-family: "Bodoni Moda";
}
.abarcadoUno .contenColumnas-Row .primeraSeccion-Footer fieldset div ::placeholder {
  color: #000;
  font-family: "Bodoni Moda";
}
.abarcadoUno .contenColumnas-Row .primeraSeccion-Footer fieldset div h5 {
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 20px;
}
.abarcadoUno .contenColumnas-Row .primeraSeccion-Footer fieldset div input {
  width: 100%;
  margin-top: 20px;
  background-color: #eb5e28;
  font-size: 35px;
  font-weight: 900;
  font-family: "Bodoni Moda";
  border-top: transparent;
  border-color: #000;
  border-right: none;
  border-left: none;
}
.abarcadoUno .contenColumnas-Row .primeraSeccion-Footer fieldset div label {
  color: #000;
  font-size: 14px;
  font-weight: 100;
  display: flex;
  justify-content: left;
}
.abarcadoUno .contenColumnas-Row .segundaSeccion-Footer {
  padding: 50px;
  /*EXTENDS*/
  align-items: center;
}
.abarcadoUno .contenColumnas-Row .segundaSeccion-Footer section h4 {
  color: #000;
  /*EXTENDS*/
  font-weight: 100;
  font-size: 20px;
}
.abarcadoUno .contenColumnas-Row .segundaSeccion-Footer section div {
  margin-top: 20px;
  text-align: center;
}
.abarcadoUno .contenColumnas-Row .segundaSeccion-Footer section div a {
  text-decoration: none;
  color: #000;
  padding: 5px;
  font-weight: 100;
  font-size: 10px;
}

.titlePages-Row {
  /*EXTENDS*/
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}
.titlePages-Row h5 {
  color: #000;
  font-family: "Bodoni Moda";
}

.portafolioGral div {
  /*EXTENDS*/
}
.portafolioGral div div {
  width: 500px;
  padding: 0%;
  transition: all 500ms ease-out;
  position: relative;
  overflow: hidden;
}
.portafolioGral div div .interaccionPortafolio {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(251, 244, 238, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.portafolioGral div div .interaccionPortafolio h3 {
  font-size: 60px;
  font-family: "Bodoni Moda";
  font-weight: 900;
  letter-spacing: -5px;
  transition: all 500ms ease-out;
  color: #eb5e28;
  width: 100%;
}
.portafolioGral div div .interaccionPortafolio a {
  text-decoration: none;
}
.portafolioGral div div:hover img {
  transition: all 500ms ease-out;
  transform: scale(1.2);
}
.portafolioGral div div:hover h3 {
  margin-top: 60%;
}
.portafolioGral div div:hover .interaccionPortafolio {
  opacity: 1;
  visibility: visible;
}
.portafolioGral div .portafolioDiv-Img div {
  width: 500px;
  padding: 0%;
}

.contenidoBiblio {
  /*EXTENDS*/
  margin-top: 50px;
  margin-bottom: 50px;
}
.contenidoBiblio section {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0%;
  margin-bottom: 50px;
}
.contenidoBiblio section .imagenesBiblio {
  width: 500px;
}
.contenidoBiblio section .parrafosDiv {
  width: 500px;
}
.contenidoBiblio section .parrafosDiv p {
  margin-top: 50px;
  margin-bottom: 50px;
}

.formCrearCuenta form {
  width: 100%;
  /*EXTENDS*/
}
.formCrearCuenta form fieldset div input {
  width: 100%;
  background-color: #EBE9EA;
  color: #000;
  font-size: 20px;
  font-family: "Bodoni Moda";
  font-weight: 900;
  border-top: transparent;
  border-color: #000;
  border-right: none;
  border-left: none;
}
.formCrearCuenta form fieldset div label {
  font-size: 10px;
  color: #000;
}
.formCrearCuenta form fieldset div section {
  display: flex;
  justify-content: space-between;
}
.formCrearCuenta form fieldset div section .checkboxCrearC {
  width: 20px;
}

.seccionesRow .segundoContenidoContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccionesRow .segundoContenidoContacto p {
  padding: 20px;
  width: 50%;
  display: flex;
  justify-content: left;
  text-align: center;
}
.seccionesRow .segundoContenidoContacto div {
  margin-top: 40px;
  width: 50%;
  /*EXTENDS*/
  font-size: 20px;
  padding: 50px 0px 50px 0px;
}
.seccionesRow .segundoContenidoContacto div h6 {
  color: #000;
  font-weight: 100;
}
.seccionesRow .primerContenidoContacto fieldset div {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.seccionesRow .primerContenidoContacto fieldset div input {
  background-color: #EBE9EA;
  font-size: 20px;
  font-family: "Bodoni Moda";
  font-weight: 900;
  border-top: transparent;
  border-left: none;
  border-right: none;
  width: 50%;
}
.seccionesRow .primerContenidoContacto fieldset div label {
  font-size: 10px;
  margin-top: 0;
}
.seccionesRow .primerContenidoContacto fieldset div h6 {
  font-size: 10px;
  font-weight: 100;
}
.seccionesRow .primerContenidoContacto fieldset div textarea {
  display: flex;
  background-color: #EBE9EA;
  margin-bottom: 1px;
  padding: 0%;
  height: 100px;
  width: 99%;
  border-color: #CECECE;
  border-radius: 8px;
}

.seccionIngresar {
  /*EXTENDS*/
  margin-bottom: 115px;
}
.seccionIngresar fieldset div label {
  font-size: 10px;
  color: #000;
}
.seccionIngresar fieldset div input {
  width: 100%;
  background-color: #EBE9EA;
  color: #000;
  font-size: 20px;
  font-family: "Bodoni Moda";
  font-weight: 900;
  border-top: transparent;
  border-color: #000;
  border-right: none;
  border-left: none;
}

.rowBiblio {
  background-color: #222222;
  box-shadow: 0 0 40px #000000;
}
.rowBiblio div {
  /*EXTENDS*/
  padding-top: 15px;
  padding-bottom: 10px;
}
.rowBiblio div section {
  text-align: center;
}
.rowBiblio div section h4 {
  color: #ffffff;
  font-weight: 100;
  font-size: 20px;
  margin: 0%;
}
.rowBiblio div section div a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.ultimoBorde {
  /*MAPS*/
  background-color: #222222;
  box-shadow: 0 0 40px #000000;
}
.ultimoBorde div {
  margin: 20px;
}
.ultimoBorde div h6 {
  margin: 10px;
  color: #ffffff;
  font-size: 10px;
  font-weight: 100;
  text-align: center;
}

* {
  margin: 0%;
  padding: 0%;
  transition: 0.1ms;
}

body {
  overflow: auto;
  background-color: #ffffff;
  background-color: #EBE9EA;
}/*# sourceMappingURL=styles.css.map */