@import "./partials/variables";
@import "./partials/botones";
@import "./partials/header";
@import "./partials/mainindex";
@import "./partials/footerindex";
@import "./partials/nompaginas";
@import "./partials/portafolio";
@import "./partials/bibliografia";
@import "./partials/crearcuenta";
@import "./partials/contacto";
@import "./partials/ingresar";
@import "./partials/footerpaginas";
@import "./partials/barrafinal";



* {
    
    margin: 0%;
    padding: 0%;
    transition: 0.1ms;
} 

:root {
    /* COLOR */
    --darkI: #98979F;
    --darkII: #A29FA8 ;
    --intermedio: #acc0d4 ;
    --light-I: #D6DBE1;
    --light-II: #EBE9EA;
    --text-color: #000 ;
    --titles-decoration: #eb5e28;
    --color-navBar: #ffffff;
    --color-botones: #222222 ;

    /* FONT-SIZES */
    --font-small: 100;
    --font-medium: 500;
    --font-large: 900;

    /* FONT-FAMILY */
    --font-titles: 'Bodoni Moda', serif;
}

body {
 overflow: auto;
 background-color: var(--light-II);
}
